.Menu {
  width: 100%;

  &List {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .MenuItem{
      flex-basis: 34%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      background: #6060bc;
      border-left: 1px solid #fff;

      .MenuDropBlock {
        width: 100%;
        height: 100%;
        background-color: #6060bc;
        position: relative;
      }

      .MenuLink {
        width: 100%;
        text-align: center;
      }

      .MenuDrop {
        width: 100%;
        height: 100%;
        background-color: #6060bc;
        color: #fff;
        cursor: pointer;
      }

      .MenuDroped {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -100%;
        left: 0;
        color: #fff;
        background-color: #6060bc;
        border-top: 1px solid #fff;
        transition: display 1s ease 0s;
      }

      .MenuDropedSecond {
        bottom: -200%;
        left: 0;
      }
    }
  }
}